/* ============================================================
  For About Me Styling
============================================================ */
.about {
  display: flex;
  flex-direction: column;
  background-color: floralwhite;
}

.menu-space {
  height: 2em;
  background: #b9bcb6;
}
.flex-exper {
  display: flex;
  flex-direction: row;
  background: FloralWhite;
  height: 100%;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
}

.side-nav div{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid FloralWhite;
  width: 100%;
  font-size: x-large;
  background: slategrey;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.side-nav div:hover {
  background: #fba298;
}
.side-nav div:active {
  background: FloralWhite;
  color: salmon;
}


.main {
  width: 70vw;
  background-color: #a6b1d4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  border-left: 2px solid white;
}
.main .content {
  color: #1A1110;
  max-width: 62%;
}
.main h1 {
  font-size: 3em;
}
.main p {
  font-size: 160%;
  text-align: left;
}
@media screen and (orientation:portrait) {
  .side-nav div {
    font-size: 1em;
  }
  .main h1 {
    font-size: 1.5em;
  }
  .main p {
    font-size: 1em;
  }
}
