/* ============================================================
  For About Me Styling
============================================================ */


.about-page {
    padding: 1em;
    display: inline-block;
    margin: auto;
}


.me {
	width: 100%;
}
