/* ============================================================
  For About Me Styling
============================================================ */
.flex-exper {
  display: flex;
  flex-direction: row;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;

}

.side-nav div{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid FloralWhite;
  width: 100%;
  font-size: x-large;
  background: salmon;
}


.main {
  width: 70vw;
  background-color: LightSteelBlue ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #1A1110;
}
.main .content {
  color: #1A1110;
  max-width: 62%;
}
.main h1 {
  font-size: 3em;
}
.main p {
  font-size: 160%;
  text-align: left;
}
