/* ============================================================
  For About Me Styling
============================================================ */


.about-page {
    padding: 1em;
    display: inline-block;
    margin: auto;
}


.me {
  margin: auto;
  display: block;
  border-radius: 50%;
  max-width: 50%;
}

.about-text {
  padding: 1em;
  text-align: left;
  max-width: 50%;
  margin: auto;
}
