/* Alhambra page specific styles */

#triangleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
}

#gridCanvas {
    position: fixed;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#triangleCanvas.visible, #gridCanvas.visible {
    opacity: 1;
}


.bio {
    transition: all 0.3s ease;
}

