.menu {
  display: flex;
  flex-flow: row wrap;
}

.menu div {
  display: flex;
  justify-content: flex-start;;
  flex-direction: column;;
  flex: 1;
  padding: 20px;
  align-items: center;
}

.menu p {
  font-size: x-large;
}
.menu img {
  max-width: 50%;
}
.menu img {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.menu img:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (orientation:portrait) {
    /* Portrait styles */
    .menu div {
      width: 50vw;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    .menu div {
      width: 33.333vw;
    }
}
