/* 
  Saved font families for future use:
  font-family: "Trebuchet MS", Helvetica, sans-serif;
*/

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  color: #f8f8f6;
}
h1, dt, .footer > a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}
dt {
  font-size: 1.25em;
  padding-top: 2em;
}
.header {
  font-size: 3em;
  letter-spacing: 5px;
  text-align: left;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1em;
}
.header-img {
  vertical-align: text-bottom;
  height: 1em;
}
.bio {
  font-size: 1.5em;
}

.signoff {
  font-size: .75em;
}

.simple-link {
  color: inherit;
  text-decoration: none;
  border: none;
}
.simple-link focus, .simple-link :hover {
  color: inherit;
  border: none;
}

.list__link {
  font-family: monospace
}

.footer > a {
  line-height: 1;
  font-size: 1.4em;
}
a, .footer > a {
  border-bottom: 1px solid #f8f8f6;
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
a:focus, a:hover {
  color: floralwhite;
  border-bottom: 1px solid floralwhite;
}

.reference {
  font-style: italic;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;

}
