body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  color: #f8f8f6;
}
h1, dt, .footer > a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}
dt {
  font-size: 1.25em;
}
h1 {
  font-size: 3vw;
  letter-spacing: 4px;
}
.bio {
  font-size: 2.5vw;
}
.list__item > p {
  font-size: 1.25em;
}
.footer > a {
  line-height: 1;
  font-size: 1.4em;
}
a, .footer > a {
  border-bottom: 1px solid #f8f8f6;
  color: inherit;
  font-weight: normal;
  text-decoration: none
}
a {
  font-family: monospace;
}
a:focus, a:hover {
  color: #3d6eff;
  border-bottom: 1px solid #3d6eff
}

@media (max-width:800px) {
  h1 {
    line-height: 1em;
    font-size: 2em;
  }
  .bio {
    font-size: 1.5em;
  }
  .footer > a {
    border: none;
    text-decoration: underline;
  }
}

@media (min-width:1080px) {
  .bio {
    font-size:2em;
  }
  h1 {
    font-size: 2.5em;
  }
}

.reference {
  font-style: italic;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;

}
