.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkorange;
}
.hero h1 {
  width: 100%;
  font-size: xx-large;
  line-height: 2em;
}

.hero img {
  max-width: 38%;
}

@media screen and (orientation:portrait) {
    .rotate {
      -webkit-animation:spin 6s linear infinite;
      -moz-animation:spin 6s linear infinite;
      animation:spin 6s linear infinite;
    }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }
}

@media screen and (orientation:landscape) {
  .rotate {
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
  }
  .rotate:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
