.hero {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #ABB2BF;
  background-image: url('../assets/me.jpg');
  background: linear-gradient(
      rgba(40, 44, 52, 0.6),
      rgba(40, 44, 52, 0.6)
    ), url('../assets/me.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  width: 100%;
  font-size: 3em;
  color: #ececf3;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 3px;
}
.hero p {
  color: #ececf3;
  padding: 1em 4em;
  text-align: left;
  font-size: 1em;
  letter-spacing: 2px;
}
.hero button {
  background-color: transparent;
  color: #ececf3;

  border-radius: 12px;
  border-color: #ececf3;
  border: 1.5px solid #ececf3;
  padding: 0.4em 0.6em;

  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  text-decoration: none;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.hero button:hover {
    background-color: #ececf3;
    color: #222429;
}
.footer {
  display:flex;
  flex-flow:row;
  position:absolute;bottom:0;
}
.footer img {
  color: white;
  max-width: 20px;
  max-height: 20px;
  padding: 20px;
}
