/*
 Main.css
 Color Profile:
  dark: #222, #131314
  grey: #a6a9ac, #dcdcde
  light: #f8f8f6, #efeff2

*/

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	color: #f8f8f6;
	background: #222;
	background-size: 70%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #dcdcde;
	outline: none;
}

a:hover,
a:focus {
	color: #f8f8f6;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #222;
}

.js .loading::after {
	content: '';
	font-size: .62em;
	font-weight: 500;
	line-height: 3.8em;
	letter-spacing: .62em;
	margin: 0;
	padding: 0.5em 0;
	text-transform: uppercase;
	text-align: center;

	position: fixed;
	z-index: 1001;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
  border-radius: 50%;
	pointer-events: none;
	animation: loaderAnim 4s ease-in-out infinite normal forwards;
}

@keyframes loaderAnim {

	0%  {
    border-radius:5% 5% 5% 5%;
    transform:rotate(0deg);
		background: #3f51b5;
  }
  12%  {
    border-radius:50% 5% 5% 5%;
    transform:rotate(45deg);
  }
  25%  {
    border-radius:50% 50% 5% 5%;
    transform:rotate(90deg);
		background: #2196f3;
  }
  37%  {
    border-radius:50% 50% 50% 5%;
    transform:rotate(135deg);
  }
  50% {
     border-radius:50%;
     transform:rotate(180deg);
 		 background: #03a9f4;
  }
	62%  {
    border-radius:5% 50% 50% 50%;
    transform:rotate(225deg);
  }
  75%  {
    border-radius: 5% 5% 50% 50%;
    transform:rotate(270deg);
		background: #2196f3;
  }
  87%  {
    border-radius:5% 5% 5% 50%;
    transform:rotate(315deg);
  }
  100%  {
    border-radius:5% 5% 5% 5%;
    transform:rotate(360deg);
		background: #3f51b5;
  }
}

main {
	overflow: hidden;
}

/* Content */
.content {
	padding: 3em 0;
}

.content--grid {
	display: flex;
	flex-flow: wrap;

	padding: 10vh 8vw;

	grid-template-columns: 50% 50%;
}

/* Header */
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 5vw;
}

.header__title {
	font-size: 1.625em;
	font-weight: 500;
	line-height: 1.5;
	margin: 0;
	padding: 0.5em 0;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}


/* items */
.item {
	position: relative;
	width: 500px;
	max-width: 100%;
	margin: 0 0 0 auto;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	grid-column: span 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.item:nth-of-type(even) {
	margin: 0 auto 0 0;
}

.item:first-of-type {
	grid-column: span 1;
}

.item__svg {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	min-height: 500px;
	margin: 0 auto;
}

.item__clippath,
.item__deco,
.item__img {
	transform-origin: 50% 50%;
}

.item__meta {
	position: absolute;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.item__number {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 12.5% 0 0 3em;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}

.item__specimen {
	font-size: 5em;
	font-weight: 500;
	line-height: 0.9;
	vertical-align: text-bottom;
	letter-spacing: -0.025em;
}

.item__reference {
	font-size: 1.25em;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.item__title {
	font-size: 1.165em;
	font-weight: 600;
	width: 100%;
	margin: 1em 0 0 0;
	text-align: center;
	letter-spacing: 0.125em;
	color: #fff;
}

.item__subtitle {
	font-size: 1em;
	font-weight: 500;
	margin: 0.5em 0 0;
	text-align: center;
	letter-spacing: 0.15em;
	opacity: 0;
}

/* Blob Theme */
.item__deco {
	fill: #3F51B5;
}

.item__title {
	color: #f8f8f6;
}


@media screen and (max-width: 60em) {
	.item:first-of-type {
		grid-column: span 2;
	}
	.content--grid {
		grid-row-gap: 25vh;
	}
}

@media screen and (max-width: 40em) {
	.header__title {
		font-size: 1em;
	}
	.content--grid {
		padding: 2vh 8vw;
	}
	.item__number {
		font-size: 0.75em;
	}
	.item__svg {
		min-height: 360px;
	}
}
