/*
 Main.css
 Color Profile:
  dark: #222, #131314
  grey: #a6a9ac, #dcdcde
  light: #f8f8f6, #efeff2
*/

/* Base Layout */
body {
  margin: 0;
  background-color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

section {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 6vh;
  padding-left: 6vw;
}

/* Hero Section */
.hero {
  width: calc(100vw - 20em);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.bio {
  padding-bottom: 10vh;
  max-width: 70vw;
}

/* Writing Pages */
.writing {
  max-width: 70vw;
  width: calc(100vw - 20em);
}

.list {
  margin: 0;
}

.list__item {
  margin: 0;
  padding-bottom: 3em;
}

.list__item > p {
  margin: 1em 0;
  font-size: 1.25em;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  margin: 0;
}

/* Footer */
.footer {
  position: fixed;
  right: 5em;
  bottom: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer > a {
  padding-top: 0.7em;
}

.hero-footer {
  position: fixed;
  right: 5em;
  bottom: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-footer > a {
  position: relative;
  padding-top: 0.7em;
}

/* Links */
a {
  position: relative;
}

