/* ============================================================
  For Menu Bar Styling
============================================================ */

.menu-bar {
  position: fixed;
  width: 100%;
  background: rgba(30, 60, 100, 0.4);
  height: 2em;
  font-weight: 500;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.snip1168 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style: outside none none;
}
.snip1168 li {
  padding: 0 1em;
}
.snip1168 a {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1168 a:before,
.snip1168 a:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1168 a:before {
  content: "";
  background-color: rgb(176,224,230);
}
.snip1168 a:after {
  left: 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1168 a:hover:before,
.snip1168 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1168 a:hover:after,
.snip1168 .current a:after {
  max-width: 100%;
}
