@media (max-width:800px) {
  h1 {
    line-height: 1em;
    font-size: 1.5em
  }
  body {
    padding: 1em 1em 1em 2em;
    flex-flow: column wrap;
  }
  .hero {
    height: auto;
  }
  .bio {
    font-size: 6vw;
    margin: 0;
    min-width: 80vw;
  }
    .list {
        margin-top: 1em;
    }
  section {
    padding: 7.5vw;
    width: 100%;
    display: table-row;
    height:auto;
    min-height: inherit;
  }
  .dt {
    bottom: auto;
    padding: 0 7.5vw 7.5vw;
    -webkit-box-align: start;
    align-items: flex-start
  }
  .footer {
    position: inherit;
    align-items: flex-start;
  }
  .footer > a {
    border: none;
    text-decoration: underline;
  }
}
