/* Mobile Styles */
@media only screen and (max-width:850px) {
  /* Base Layout */
  body {
    padding: 7.5vw;
    flex-flow: column wrap;
  }
  
  section {
    width: 100%;
    min-height: inherit;
    flex: 1;
  }

  .content-wrapper {
    min-height: 95vh;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .hero {
    padding: 0;
  }
  
  .bio {
    margin: 0;
    min-width: 90vw;
    padding-bottom: 2em;
  }
  
  /* Writing Pages */
  .writing {
    width: 100%;
    padding: 0;
    max-width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .list {
    margin-top: 1em;
    flex: 1;
    margin-bottom: 2em;
  }
  
  .dt {
    bottom: auto;
    padding: 0 7.5vw 7.5vw;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  
  /* Footer - Force static positioning on mobile for all pages */
  .footer,
  .hero-footer,
  footer {
    display: flex !important;
    position: static !important;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    right: auto !important;
    bottom: auto !important;
    margin-top: 2em;
  }
  
  .footer > a {
    position: relative;
    padding-top: 0.7em;
    border: none;
    text-decoration: underline;
  }

  /* Ensure footer is always at bottom on mobile */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

/* Desktop Styles */
@media only screen and (min-width:1080px) {
  /* Hero Section */
  .bio {
    max-width: 1100px;
    font-size: 2em;
  }
  
  .header {
    font-size: 2.5em;
  }
  
  /* Writing Pages */
  .writing {
    max-width: 750px;
  }
  
  /* Footer */
  .footer {
    right: 3em;
    bottom: 5em;
  }
}
