@media (max-width:800px) {
  body {
    padding: 1em 1em 1em 2em;
    flex-flow: column wrap;
  }
  .hero {
    height: auto;
  }
  .bio {
    margin: 0;
    min-width: 80vw;
  }
  .list {
      margin-top: 1em;
  }
  section {
    padding: 7.5vw;
    width: 100%;
    display: table-row;
    height:auto;
    min-height: inherit;
  }
  .dt {
    bottom: auto;
    padding: 0 7.5vw 7.5vw;
    -webkit-box-align: start;
    align-items: flex-start
  }
  .footer {
    position: inherit;
    align-items: flex-start;
  }
}
@media (min-width:1080px) {
  .bio {
    max-width: 1100px;
  }
  .writing {
    max-width: 750px;
  }
  .footer {
    right: 3em;
    bottom: 5em;
  }
}
