@media only screen and (max-width:850px) {
  body {
    padding: 7.5vw;
    flex-flow: column wrap;
  }
  .hero {
    height: auto;
  }
  .bio {
    margin: 0;
    min-width: 80vw;
    padding-bottom: 2em;
  }
  .list {
    margin-top: 1em;
  }
  section {
    /* padding: 7.5vw; */
    width: 100%;
    display: table-row;
    height:auto;
    min-height: inherit;
  }
  .dt {
    bottom: auto;
    padding: 0 7.5vw 7.5vw;
    -webkit-box-align: start;
    align-items: flex-start
  }
  .menu {
    flex-direction: column;
    font-size: 1.5em;
    height: 100vh;
    justify-content: space-evenly;
  }
  .menu > div {
    flex-basis: auto;
    flex-grow: 1;
    margin: 0.5em 0;
  }
  .menu > div > div {
    flex-basis: auto;
  }
  .footer {
    display: flex;
    position: inherit;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }
  .footer > a {
    position: relative;
    padding-top: 0.7em;
  }
}
@media only screen and (min-width:1080px) {
  .bio {
    max-width: 1100px;
  }
  .writing {
    max-width: 750px;
  }
  .menu {
    height: calc(100vh - 2.1em);
    max-height: calc(100vh - 1.4em);
    min-height: calc(100vh - 1.4em);
  }
  .menu > div {
    flex-basis: calc(50% - 72px);
    margin: 36px;
  }
  .footer {
    right: 3em;
    bottom: 5em;
  }
}
