@media only screen and (max-width:850px) {
  body {
    padding: 7.5vw;
    flex-flow: column wrap;
  }
  .hero {
    height: 100vh;
    justify-content: space-between;
    padding: 0;
  }
  .bio {
    margin: 0;
    min-width: 80vw;
    padding-bottom: 2em;
  }
  .list {
    margin-top: 1em;
  }
  section {
    width: 100%;
    min-height: inherit;
  }
  .writing {
    width:100%;
    padding: 0;
    max-width: 100vw;
  }
  .dt {
    bottom: auto;
    padding: 0 7.5vw 7.5vw;
    -webkit-box-align: start;
    align-items: flex-start
  }
  .menu {
    height: 70vh;
    justify-content: space-evenly;
  }
  .menu > div {
    flex-basis: auto;
    flex-grow: 1;
    margin: 0.5em 0;
  }
  .menu > div > div {
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
  }
  .footer {
    display: flex;
    position: inherit;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }
  .footer > a {
    position: relative;
    padding-top: 0.7em;
    border: none;
    border: none;
    text-decoration: underline;
  }
  .menu-footer {
    display: none;
  }
}
@media only screen and (min-width:1080px) {
  .bio {
    max-width: 1100px;
    font-size:2em;
  }
  .writing {
    max-width: 750px;
  }
  .menu {
    min-height: calc(100vh - 1.4em);
    font-size: 2.5em;
  }
  .menu > div {
    flex-basis: calc(50% - 72px);
    margin: 36px;
  }
  .footer {
    right: 3em;
    bottom: 5em;
  }
}
