.net-neutral-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
}
.net-neutral-header-div {
  font-size: 14px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff !important;
  background-color: #d73a49 !important;
  border-radius: 0 !important;
}

.d-flex {
    display: -webkit-box !important;
    display: flex !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.flex-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}
.flex-justify-between {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
}


b, strong {
    font-weight: 600;
}

@media (max-width:850px) {
  .subtitle {
      display: none;
  }
  .sticky-header {
    display: inline-block;
  }
}

form {
    display: block;
    margin-top: 0em;
}
.btn {
    border: 1px solid white;
    border-radius: 0.25em;
    line-height: 1.5em;
    display: inline-block;
    padding: 0.5em 1em;
    font-size: inherit;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
  color: #d73b48;
  background-color: white;
  border-bottom: white;
}



.p-2 {
    padding: 8px !important;
}

.ml-1 {
    margin-left: 4px !important;
}
.btn-link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: #0366d6;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



svg:not(:root) {
    overflow: hidden;
}
.octicon {
    vertical-align: text-bottom;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
}
