#projects {
  background: linear-gradient(141deg, #708090 0%, #90A2B7 51%, #B0C4DE 75%);
}
.flex-parent {
  display: flex;
  flex-direction: column;
}
.flex-grid-halves, .flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  padding: 20px;
  align-items: center;
}
.flex-parent p {
  font-size: x-large;
}
.flex-parent img {
  max-width: 50%;
}
.flex-parent img {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.flex-parent img:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (orientation:portrait) {
    /* Portrait styles */
    .portrait {
      display: flex;
    }
    .landscape {
      display: none;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    .portrait {
      display: none;
    }
    .landscape {
      display: flex;
    }
}
