body {
  overflow: hidden;
  position: relative;
  background: #000;
  margin: 0;
}

.row {
  display: flex;
}
svg {
  margin: 8px;
}

.cell:hover, .cell:visited, .cell:focus {
  /* animation: loaderAnim 5s ease-in-out infinite normal forwards; */
  padding: 0;
  margin: 0;
}


/* @keyframes loaderAnim {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(90deg);
  }
  100% {
    transform:rotate(0deg);
  }
} */

/* @media only screen and (max-width: 600px) {
  .row:nth-child(2n) {
    position: relative;
    left: -160px;
  }
  body {
    position: relative;
    left: -200px;
    top: -200px;
  }
} */
