body {
  margin: 0;
  padding: 5vh 0 3vw 3vw;
  background-color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}
section {
  z-index: 1;
  width: calc(100vw - 20em);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero {
  height: calc(100vh - 2em);
}
.bio {
  margin-bottom: 2.5em;
  max-width: 70vw;
}
.writing {
  max-width: 70vw;
}
.list {
  margin: 0;
}
.list__item {
  margin: 0;
  margin-bottom: 2em;
}
.list__item > p {
    margin: 1em 0;
}
.footer {
  position: fixed;
  right: 6em;
  bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

}
.footer > a {
  margin-top: 1em;
}
a {
  position: relative;
}
