body {
  margin: 0;
  padding: 5vh 0 3vw 3vw;
  line-height: 1.5;
  font-family: monospace;
  color: #f8f8f6;
  background-color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}
h1, dt {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: .03em;
}
dt {
    font-size: 1.25em;
}
h1 {
  font-size: 1.5em;
}
.main-section {

}
section {
  z-index: 1;
  width: calc(100vw - 10em);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero {
  height: calc(100vh - 2em);
  width: calc(100vw - 20em);
}
.bio {
  margin-bottom: 2.5em;
  font-size: 3vw;
  max-width: 70vw;
  font-family: serif;
}
.writing {
  max-width: 70vw;
}
@media (min-width:1080px) {
  .bio {
    font-size:2.5em;
    max-width: 1100px;
  }
  .writing {
    max-width: 750px;
  }
}
.list {
  margin: 0;
}
.list__item {
  margin: 0;
  margin-bottom: 2em;
  font-size: 1.25em;
}
.list__item > p {
    margin: 1em 0;
}
.footer {
  position: fixed;
  right: 6em;
  bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

}
@media (max-width:1080px) {
  .footer {
    right: 3em;
    bottom: 5em;
  }
}
.footer > a {
  margin-top: 1em;
  line-height: 1;
  font-size: 1.4em;
}
a {
  position: relative;
  border-bottom: 1px solid #f8f8f6;
  color: inherit;
  text-decoration: none
}
a:focus, a:hover {
  color: #3d6eff;
  border-bottom: 1px solid #3d6eff
}
@media (max-width:800px) {
  h1 {
    line-height: 1em;
  }
  body {
    padding: 1em 1em 1em 2em;
    flex-flow: column wrap;
  }
  .hero {
    height: auto;
  }
  .bio {
    font-size: 6vw;
    margin: 0;
    min-width: 80vw;
  }
    .list {
        margin-top: 1em;
    }
  section {
    padding: 7.5vw;
    width: 100%;
    display: table-row;
    height:auto;
    min-height: inherit;
  }
  .dt {
    bottom: auto;
    padding: 0 7.5vw 7.5vw;
    -webkit-box-align: start;
    align-items: flex-start
  }
  .footer {
    position: inherit;
    align-items: flex-start;
  }
  .footer > a {
    border: none;
    text-decoration: underline;
  }
}
