h1
{
	color: white;
	text-align: center;
	font-size: 3em;	font-family: Arial;
	height: 1em;
}

body
{
	margin: 0;
	background-color: black;
	font-size: 100%;
	line-height: 1.6875;
}
.svg-container { 
	display: inline-block;
	position: relative;
	padding-bottom: 100%; 
	vertical-align: middle;
	text-align: center;
	overflow: hidden; 
}
