.footer__link--home:hover~.crumple:after {
    -webkit-animation: a 1s .25s linear forwards;
    animation: a 1s .25s linear forwards
}

.writing {
  max-width: 70vw;
  width: calc(100vw - 20em);
  padding-top: 5vh;
  padding-left: 6vw;
  padding-bottom: 5em;
}
.list {
  margin: 0;
}
.list__item {
  margin: 0;
  margin-bottom: 2em;
}
.list__item > p {
    margin: 1em 0;
    font-size: 1.25em;
}

#essays .crumple:after {
  background-color: tomato;
}

#essays {
  background-color: tomato;
}

#poems .crumple:after {
  background-color: lightsalmon;
}

#poems {
  background-color: lightsalmon;
}

#journal .crumple:after {
  background-color: plum;
}

#journal {
  background-color: plum;
}
