/* ============================================================
  For Flower Garden Styling
============================================================ */
.flex-parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex-grid-halves, .flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  padding: 20px;
  align-items: center;
}
.flex-parent p {
  font-size: x-large;
}
.flex-parent img {
  border-radius: 50%;
  max-width: 50%;
}
.flex-parent img {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.flex-parent img:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (orientation:portrait) {
    /* Portrait styles */
    .portrait {
      display: flex;
    }
    .landscape {
      display: none;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    .portrait {
      display: none;
    }
    .landscape {
      display: flex;
    }
}
.menu-space {
  background-color: darkblue;
}
.about-me img {
  background-color: orangered;
}

.resume img {
  background-color: tomato;
}

.code img {
  background-color: coral;
}

.writing img {
  background-color: darkorange;
}

.blog img {
  background-color: orange;
}

.grazie img {
  background-color: gold;
}
