.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 99, 71, 0.50),
      rgba(255, 99, 71, 0.50)
    ), url('../assets/exper.jpg');
  background-position: center;
    background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  width: 100%;
  font-size: x-large;
  line-height: 2em;
}
.hero img {
  max-width: 25%;
}

.rotate{
	animation-name: rotate;
	-webkit-animation-name: rotate;

	animation-duration: 3s;
	-webkit-animation-duration: 3s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(-30deg);
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(-30deg);
	}
	50% {
		-webkit-transform: rotate(30deg);
	}
	100% {
		-webkit-transform: rotate(-30deg);
	}
}
