/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Calibri Light';
}



html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  color: beige;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

section {
	height: 100vh;
}
.hero {
	background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../assets/rio.jpg");
}
.title {
  width: 100%;
  font-size: xx-large;
  line-height: 2em;
}
h2 {
  width: 100%;
  font-size: medium;
  line-height: 2em;
  vertical-align: top;
}
.menu {}
.pure-img-responsive {
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

#about

.menu-label {
  font-size: medium;
}

.button {
  padding: 0.5em .75em;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 25%;
  border-color: beige;
  border-style: solid;
  background: transparent;
  text-transform: uppercase;
  font-size: large;

}

.button:hover, .button:active {
  background-color: beige;
  color: black;
}

.logo {
  max-width: 20%;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.logo:hover, .logo:active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#wrapper {
  position: relative;
  top:25vh;
}

footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: beige;
  color: black;
  line-height: 1em;
  font-size: 90%;
  letter-spacing: normal;

}


@media (max-width: 500px) {
  #spacer-vert {
    height: 28vh;
  }
  .logo {
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
  }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

@media (min-width: 540px) and (max-width: 1024px) {
  .pure-u-1-2.pure-u-lg-1-3 {
    width: 33%;
  }
  .spacer-hor {
    height:40vh;
  }
  
}

@media (min-width: 1024px) and (max-width: 1180px){
  .spacer-hor {
    width: 100vw;
    height: 10vh;
  }
  
}

@media (min-width: 1180px) {
  .spacer-hor {
    width: 100vw;
    height: 3vh;
  }
}