/* Reset
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: #fff;
    font-size: 13px;
    color: #666;
    font-family: helvetica, sans-serif;
}

ol,ul {
    list-style: none;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    color: #111;
}

a,img {
    outline: none;
    border: none;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;
    line-height: 1.4em;
    font-size: 1.2em;
}

img {
    display: block;
    margin-bottom: 10px;
}

aside {
    font-style: italic;
    font-size: .9em;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

/* Structure */
#wrapper {
    width: 96%;
    max-width: 920px;
    margin: auto;
    padding: 2%;
}

#main {
    width: 60%;
    margin-right: 5%;
    float: left;
}

aside {
    width: 35%;
    float: right;
}

/* Logo H1 */
header h1 {
    height: 70px;
    width: 160px;
    float: left;
    display: block;
    background: url(../images/logo.jpg) 0 0 no-repeat;
    text-indent: -9999px;
}

/* Nav */
header nav {
    float: right;
    margin-top: 40px;
}

header nav li {
    display: inline;
    margin-left: 15px;
}

#skipTo {
    display: none;
}

#skipTo li {
    background: #b1fffc;
}

/* Banner */
#banner {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

#banner img {
    width: 100%;
}

/* Media Queries */
@media screen and max-width 480px {
    #skipTo {
        display: block;
    }
    
    header nav,#main,aside {
        float: left;
        clear: left;
        margin: 0 0 10px;
        width: 100%;
    }
    
    header nav li {
        margin: 0;
        background: #efefef;
        display: block;
        margin-bottom: 3px;
    }
    
    header nav a {
        display: block;
        padding: 10px;
        text-align: center;
    }

}